<!DOCTYPE html>
<html>
<head>
    <title>Bus und Zeit</title>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <div class="brand-logo">Busverbindungen</div>
        </div>
    </nav>

    <ul class="collection">
        {% for linie, zeit in linien %}
            <li class="collection-item avatar">
                  <i class="material-icons">directions_bus</i>
                  
                  <p class="flow-text">{{linie}} <br>
                     {{zeit}}
                  </p>
                  <a href="#!" class="secondary-content"></a>
            </li>
        {% endfor %}
    </ul>
{{ msg }}
</body>
</html>